flows.json
[
    {
        "id": "29b3842ca199974c",
        "type": "tab",
        "label": "GS_O20",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "71981299ed6addf3",
        "type": "mqtt in",
        "z": "29b3842ca199974c",
        "name": "",
        "topic": "TOPICO_WOKWI",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f0a7ca9ea97e93bd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 220,
        "wires": [
            [
                "512483a4ce7b0b18"
            ]
        ]
    },
    {
        "id": "fe7d5e721122d5eb",
        "type": "mqtt out",
        "z": "29b3842ca199974c",
        "name": "",
        "topic": "tago/data/post",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93939f11c23a3a50",
        "x": 720,
        "y": 220,
        "wires": []
    },
    {
        "id": "80dc3bc5bd482077",
        "type": "debug",
        "z": "29b3842ca199974c",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 280,
        "wires": []
    },
    {
        "id": "512483a4ce7b0b18",
        "type": "function",
        "z": "29b3842ca199974c",
        "name": "function 1",
        "func": "var Status = {\n    payload: {\n        \"variable\": \"status\",\n        \"value\": msg.payload\n\n    }\n};\n\nreturn Status;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 220,
        "wires": [
            [
                "fe7d5e721122d5eb",
                "80dc3bc5bd482077"
            ]
        ]
    },
    {
        "id": "f0a7ca9ea97e93bd",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "93939f11c23a3a50",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.tago.io",
        "port": "1883",
        "clientid": "BlueVision_mqtt",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]